:host {
    ::ng-deep p-chart {
        canvas {
            background-image: url('../../assets/test-results.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

#data-to-pdf {
    border: solid 1px black;
    th {
        font-size: 2em;
    }
}