///////////////// Responsive Breakpoints /////////////////
$bp1220: 1220px;
$bp1080: 1080px;
$bp1000: 1000px;
$bp900: 900px;
$bp768: 768px;
$bp740: 740px;
$bp600: 600px;
$bp540: 540px;
$bp380: 380px;

///////////////// QuestionComponent & QuizComponent /////////////////
$fontSizeQuestion: 1.2em;
$fontSizeQuestionBP900: 1em;
$fontSizeQuestionBP740: .8em;
$fontSizeQuestionBP380: .6em;

///////////////// HomeComponent /////////////////
$fontSizeHomeTitle1220: 1.5em;
$fontSizeHomeTitle1000: 1.2em;
$fontSizeHomeTitle740: 1em;
$fontSizeHomeTitle380: .8em;

$fontSizeHomeText1220: 1em;
$fontSizeHomeText1000: .9em;
$fontSizeHomeText740: .8em;
$fontSizeHomeText380: .7em;

$fontSizeHomeDialog768: .95em;
$fontSizeHomeDialog540: .9em;
