// QuestionComponent
$fontSizeQuestion: 1.2em;
$fontSizeQuestionBP900: 1em;
$fontSizeQuestionBP740: .8em;
$fontSizeQuestionBP380: .6em;

// Responsive Breakpoints
$bp1000: 1000px;
$bp900: 900px;
$bp740: 740px;
$bp600: 600px;
$bp380: 380px;