<h1>Questionnaire d'évaluation de la "confiance collective et réciproque"</h1>
<h2>
  "C'est la confiance que les autres mettent en nous qui nous montre le chemin"
  <br />
  François Mauriac (1885-1970)
</h2>
<p-button
  label="Démarrer un test"
  icon="pi pi-angle-right"
  iconPos="right"
  routerLink="/questions/1"
  (onClick)="clearLocalStorage()"
></p-button>
<p>Vous avez déjà fait un test ? Cliquez sur "Accéder à mes anciens tests"</p>
<p-button
  label="Accéder à mes anciens tests"
  icon="pi pi-angle-right"
  iconPos="right"
  (onClick)="showModalDialog()"
></p-button>
<!-- <label for="user-firstname">Votre prénom : </label>
<input type="text" name="user-firstname" id="user-firstname" />
<label for="user-lastname">Votre nom : </label>
<input type="text" name="user-lastname" id="user-lastname" /> -->
<p-dialog
  header="Accéder à mes tests"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw', height: '50vh' }"
  [draggable]="false"
  [resizable]="false"
>
  Si vous avez déjà fait un test et enregistré vos résultats, vous pouvez les
  consulter à nouveau en entrant votre email ci-dessous :
  <form
    #emailForm="ngForm"
    (ngSubmit)="emailForm.valid && getUserAndHisTests()"
  >
    <label for="filter-email">Votre email : </label>
    <p-autoComplete
      [(ngModel)]="userEmail"
      [showEmptyMessage]="true"
      emptyMessage="Aucune correspondance"
      [suggestions]="filteredEmails"
      (completeMethod)="filterEmail($event)"
      [minLength]="1"
      name="filter-email"
      ariaLabel="Champ de votre email"
    ></p-autoComplete>

    <p-button
      type="submit"
      label="Accéder à mes tests"
      icon="pi pi-angle-right"
      iconPos="right"
      [disabled]="emailForm.valid === false"
    ></p-button>
  </form>

  <div *ngIf="userTests.length > 0"></div>
</p-dialog>
